.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.label-text {
  color: #1976d2;
  font-size: 14px;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-button {
  text-transform: none;
  color: black
}

.body-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
