version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Vanphuong1507@
    ports:
      - "1433:1433"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_api
    environment:
    - ASPNETCORE_URLS=http://+:80
    - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "8080:80"
    depends_on:
      - db

  frontend:
    build:
      context: ./SmartHR
    container_name: frontend_ui
    ports:
      - "80:80"
    depends_on:
      - backend