node_modules/
apps/web.cache/
apps/web/build/
**/.cache/
**/build/
**/node_modules/
.husky/
**/dist
**/scripts
**/config
**/coverage
**/runner
**/tools
**/src/utils/dist
**/src/components/dist
**/src/redux/validate_form/dist
**/src/api/os
public
