name: Deploy to Viettel VPS
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: 27.71.26.109
          username: root
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd ~/human-resourse
            git fetch --all
            git reset --hard origin/main
            docker-compose down
            docker-compose up -d --build
