name: Deploy to Viettel VPS
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: 27.71.26.109
          username: root
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd ~/human-resourse
            git fetch --all
            git reset --hard origin/main
            
            # Lệnh này cực kỳ quan trọng:
            # 1. Nó sẽ bật sql_server lên nếu nó đang tắt.
            # 2. Nó chỉ build lại FE/BE nếu có code mới.
            # 3. Dữ liệu KHÔNG mất (nếu ông đã thêm Volume vào docker-compose.yml).
            docker-compose up -d --build
