name: Deploy to Viettel VPS
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: 27.71.26.109
          username: root
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd ~/human-resourse
            git fetch --all
            git reset --hard origin/main
            git clean -fd
            
            if [ -f "docker-compose.yml" ]; then
                docker-compose down
                docker-compose up -d --build
            else
                echo "LỖI: Không tìm thấy file docker-compose.yml ở thư mục $(pwd)"
                exit 1
            fi
